<div id="container">
	<button style="display: inline-block"><a href="/professional_profile" >My Profile</a></button>
	<hr>
	<p><%= @user.name %></p>
	<p>Description: <%= @user.description %></p>
</div>